---
import Layout from "@layouts/MainLayout.astro";
import VideoHero from "@components/sections/VideoHero.astro";
import ListWidget from "@widgets/listwidget.astro";
import BookingCTA from  "@sections/bookingCTA.astro";
import hummlnHang from "@assets/images/kurs/hang-po-hummln.jpg";

import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";
const customLastPart = [
  { index: "last", text: "Hangflyg" },
/*   {
    "data-link": "home",
    "aria-label": "Go to the home page",
    text: "Page 1",
  },
  {
    "data-link": "about",
    "aria-label": "Go to the about page",
    text: "Page 2",
  }, */
];

//const myVideo = "https://strapi-cdn-2.s3.eu-north-1.amazonaws.com/skysport25/video/winterHang-212mb.mp4";
const myVideo = "https://strapi-cdn-2.s3.eu-north-1.amazonaws.com/skysport25/video/start/Skystart-utube.mp4";

const VideoContent = {
    title: "",
    description: "Hangflyg på Åreskutan. Lär dig mer om termikflygning och avancerade tekniker för hangflygning under vår fortsättningskurs.",
    backgroundVideo: myVideo,
    overlayOpacity: 0.2,
    page: "hang",
    position: "justify-center",
    windLinks: false,
}

const BookingCtaContent = {
  title: 'Hangflygkurs på Åreskutan',
  text: 'Hang kursen är ca 2 dagar lång. Inträdeskravet är god startteknik i vindar upp till 8 m/s. Detta tränas på plan mark eller i svagt sluttande terräng. Vi monterar sedan och justerar in ditt speedsystem, samt kontrollerar att du behärskar öron, och även öron och speed kombinerat. Teorikurs på ca 5 timmar, inkl prov. Hangkursen arrangeras i Åre kontinuerligt under februari-september.  Priset för hangkursen är 4.500 kr.',
  ctaBild: hummlnHang,
    buttons: [
    {
      text: "Boka Hangkurs",
      link: "/Kurs/Fort/Boka",
      target: "_self",
    },
  ],
}

const  HangWindListContent = {
  listTitle: "Hangflyg på Åreskutan",
  listDescription: 'På Åreskutan finns hang på samtliga vindriktningar:',
  listIcon: 'wi--day-cloudy-gusts',
  listIconDark: 'wi--day-cloudy-gusts-white',
  listList: [
    {
      listItem: 'Hummeln, NO, O, S, SV',
    },
    {
      listItem: 'Olympia Berg, S o SV'
    },
    {
      listItem: 'Rappet Väst, V, SV'
    },
    {
      listItem: 'Rappet Syd, S'
    },
    {
      listItem: '1000 m, S, SO'
    },
    {
      listItem: 'Tväråvalvet, NV, N'
    },
    {
      listItem: 'Stendalen, NV, N'
    },
  ],
}


---

<Layout title="Skysport Skärmflygskola i Åre" description="" keywords="" >

   <VideoHero content={VideoContent}/>  
   <div class=" py-8 px-4 sm:px-8  md:px-68   dark:text-slate-200">
    <Breadcrumbs linkTextFormat="capitalized" separatorAriaHidden={false} customizeLinks={customLastPart}>
        <svg
            slot="index"
            aria-label="Home Page"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"> </path><polyline
            points="9 22 9 12 15 12 15 22"></polyline>
        </svg>
        <svg
            slot="separator"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><polyline points="9 18 15 12 9 6"></polyline>
        </svg>
    </Breadcrumbs>
</div>
   
  <section >
    <BookingCTA content={BookingCtaContent}/>
  </section>
 
  <ListWidget content={HangWindListContent} />
 
</Layout>




