---
import Layout from "@layouts/MainLayout.astro";
import InnerHero from "@components/sections/InnerHero.astro";
import BookingCTA from  "@sections/bookingCTA.astro";
import Feature50 from  "@sections/Feature-50-50.astro";
import innerHero from "@assets/images/omoss/Draklanda19.jpg";
import tandemLanding from "@assets/images/tandem/sommar-1536x1536.jpg";
import sommarSkutan from "@assets/images/tandem/sommarskutan1.jpg";
import draklanda200 from "@assets/images/omoss/draklandafrom200m.jpg";
import draklanda2 from "@assets/images/omoss/dl5.jpg";
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";

const customLastPart = [
  { index: "last", text: "Om Skysport" },
  /*   {
    "data-link": "home",
    "aria-label": "Go to the home page",
    text: "Page 1",
  },
  {
    "data-link": "about",
    "aria-label": "Go to the about page",
    text: "Page 2",
  }, */
];

const InnerHeroContent = {
  title: '',
  description: '',
  backgroundImage: innerHero,
  overlayOpacity: 6,
}

const BookingCtaContent = {
  subtitle: 'Företaget består även av en boendeanläggning, Lake Lodge Åre',
  text: 'Behöver du boende på den bästa lägget för alla din aktiviteter, kolla in på www.lakelodgeare.com',
  ctaBild: tandemLanding,
    buttons: [
    {
      text: "Boka Boende",
      link: "http://www.lakelodgeare.com/",
      target: "_blank",
    },
  ],
  posttext: 'Vi erbjuder också andra aktiviteter som tex skidguidning, fiskeguidning, färdledda vandringsturer, företagsarrangemang, kick off mm. Våra kunder/gäster är både privatpersoner och företag.',
}

const Feature50Content = {
     infoTitle: '',
     infoOrientationL: false,
     infoColL: 'sm:order-2',
     infoColR: 'sm:order-1',
     infoText: [
      {
        preText: 'Skysport är en skärmflygskola som har sin bas vid Draklanda i Åre.',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
      {
        preText: 'Besöksadress är Årevägen 173. (Draklanda)',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
      {
        preText: 'Skysport startade sin verksamhet i Åre 1990 och har sedan dess bedrivit verksamhet året runt.',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
     ],
   infoImg:  sommarSkutan,
    infoIcon: '',  
}

const Feature50bContent = {
     infoTitle: '',
     infoOrientationL: false,
     infoColL: 'sm:order-1',
     infoColR: 'sm:order-2',
     infoText: [
      {
        preText: 'Skysport ägs och drivs av Lars Hedström, Åre som började flyga 1988.',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
      {
        preText: 'Lars har genom åren samlat på sig en bred erfarenhet av utbildning, tandemflygning och tävlingsflygning. Tillsammans med några av Sveriges mest erfarna instruktörer och tandempiloter utgör Skysport ett väl sammansvetsat team, som gärna delar med sig av sin kunskap.',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
      {
        preText: 'Skysports affärsidé är att året runt kunna erbjuda utbildningar i skärmflyg som leder fram till licens. Även prova på utbildningar och tandemflyg i skärmflygning. Vi erbjuder också en komplett butik och web-butik, med både ny och begagnad utrustning. Butiken är belägen vid Draklanda i Åre. Vi utför också service och reparationer av utrustning.',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
     ],
   infoImg:  draklanda2,
    infoIcon: '',  
}
const Feature50cContent = {
     infoTitle: '',
     infoOrientationL: false,
     infoColL: 'sm:order-1',
     infoColR: 'sm:order-2',
     infoText: [
      {
        preText: 'Skysport ligger i västra delen av Åre, precis vid Åresjöns strand. Boendeanläggningen Lake Lodge Åre ligger bredvid',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
      {
        preText: 'Draklanda skärmflyglandningsfält ligger i västra delen av Åre. Fältet är ca 300 meter långt och 70 brett. Landningen är lämpliga för samtliga vindriktningar förutom Nordlig vind.',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
      
     ],
   infoImg:  draklanda200,
    infoIcon: '',  
}

---
<Layout title="Skysport Skärmflygskola i Åre" description="" keywords="">
  <InnerHero content={InnerHeroContent} />
  <div class=" py-8 px-4 sm:px-8  md:px-68   dark:text-slate-200">
      <Breadcrumbs linkTextFormat="capitalized" separatorAriaHidden={false} customizeLinks={customLastPart}>
          <svg
              slot="index"
              aria-label="Home Page"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"> </path><polyline
              points="9 22 9 12 15 12 15 22"></polyline>
          </svg>
          <svg
              slot="separator"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><polyline points="9 18 15 12 9 6"></polyline>
          </svg>
      </Breadcrumbs>
  </div> 
  <Feature50 content={Feature50Content}/>
  <Feature50 content={Feature50bContent}/>
  <BookingCTA content={BookingCtaContent}/>
  <Feature50 content={Feature50cContent}/>

</Layout>

