---
import { siteConfig } from "@config/site";
import Layout from "@layouts/MainLayout.astro";
import InnerHero from "@components/sections/InnerHero.astro";
//import ImageHero from "@components/sections/ImageHero.astro";
//import VideoHero from "@components/sections/VideoHero.astro";
//import HeroImage from '../assets/images/IMG_7422.jpg';
//import LogoImage from '../assets/images/Skysport_Logo-01-invert-468.png';
import ThreeCards from "@components/sections/ThreeCards.astro";
import CardImage1 from '@assets/images/mellanmullfjallet27.jpg';
import CardImage2 from '@assets/images/tandemhenning23.jpg';
import CardImage3 from '@assets/images/pie3.jpg';

import BookingCTA from  "@sections/bookingCTA.astro";


import VtabInfo from  "@sections/FeatureVtabs.astro";
import Feature50 from  "@sections/Feature-50-50.astro";
import MasonaryIntro from  "@sections/masonary2.astro";
import innerHero from "@assets/images/omoss/Draklanda19.jpg";
import tandemLanding from "@assets/images/tandem/sommar-1536x1536.jpg";
import sommarSkutan from "@assets/images/tandem/sommarskutan1.jpg";
import topStugan from "@assets/images/tandem/tandem_stugan.jpg";
import toptandem from "@assets/images/tandem-tandem.jpeg";
import hummelnare from "@assets/images/pie3.jpg"
import draklanda200 from "@assets/images/omoss/draklandafrom200m.jpg";
import draklanda2 from "@assets/images/omoss/dl5.jpg";
import hummelneast from "@assets/images/kurs/1.jpg";
import grundkurs from "@assets/images/kurs/1a.jpg";
import Divider1 from  "@elements/SeparatorLine.astro";
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";

const customLastPart = [
  { index: "last", text: "Om Oss" },
  /*   {
    "data-link": "home",
    "aria-label": "Go to the home page",
    text: "Page 1",
  },
  {
    "data-link": "about",
    "aria-label": "Go to the about page",
    text: "Page 2",
  }, */
];



/* const HeroContent = {
    title: "Om Oss",
    description: " Skysport här varit igång sedan 1991 och är en av Sveriges äldsta skärmflygskolor. Vi håller till i Åre där vi bedriver skärmflygutbildning, tandemflygning, försäljning av utrustning samt arrangerar resor och kurser både i Sverige och utomlands. Vår ambition är att erbjuda högkvalitativa tjänster inom skärmflygning med fokus på säkerhet, glädje och gemenskap.",
    backgroundImage: HeroImage,
    descriptionImage: LogoImage,
    overlayOpacity: 0.2,
    fadeOut: true,
  
} */
const InnerHeroContent = {
  title: '',
  description: '',
  backgroundImage: innerHero,
  overlayOpacity: 6,
}

 const MasonaryContent = {
    title: 'Om Skysport i Åre',
    masoncards: [    //only 5 per mason
      {
        masonImg: hummelnare,
        imgHeight: 360,
        imgWidth: 360,
       /*  imgAlt: '', */
        link: [
          {
            text: "Skysport i Åre sen 1990",
            link: "",
            target: "_self",
          },
        ]
      },
      {
        masonImg: toptandem,
        imgHeight: '',
        imgWidth: '',
        imgAlt: 'Vi flya tandem åretrunt.',
        link: [
          {
            text: "Vi flya tandem åretrunt.",
            link: "",
            target: "_self",
          },
        ]
      },
      {
        masonImg: hummelneast,
        imgHeight: 260,
        imgWidth: 340,
        imgAlt: '',
        link: [
          {
            text: "Drömen bli verklighet",
            link: "",
            target: "_self",
          },
        ]
      },
     
      {
        masonImg: grundkurs,
        imgHeight: '460',
        imgWidth: '320',
        imgAlt: 'Grundkurs',
        link: [
          {
            text: "Grundkurs",
            link: "",
            target: "_self",
          },
        ]
      },
      {
        masonImg: topStugan,
        imgHeight: '',
        imgWidth: '',
        imgAlt: 'Top stugan',
        link: [
          {
            text: "Besok oss upp på Åreskutan",
            link: "",
            target: "_self",
          },
        ]
      }, 
     ],
}

const BookingCtaContent = {
  subtitle: 'Företaget består även av en boendeanläggning, Lake Lodge Åre',
  text: 'Behöver du boende på den bästa lägget för alla din aktiviteter, kolla in på www.lakelodgeare.com',
  ctaBild: tandemLanding,
    buttons: [
    {
      text: "Boka Boende",
      link: "http://www.lakelodgeare.com/",
      target: "_blank",
    },
  ],
  posttext: 'Vi erbjuder också andra aktiviteter som tex skidguidning, fiskeguidning, färdledda vandringsturer, företagsarrangemang, kick off mm. Våra kunder/gäster är både privatpersoner och företag.',
}

const Feature50Content = {
     infoTitle: '',
     infoOrientationL: false,
     infoColL: 'sm:order-2',
     infoColR: 'sm:order-1',
     infoText: [
      {
        preText: 'Skysport är en skärmflygskola som har sin bas vid Draklanda i Åre.',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
      {
        preText: 'Besöksadress är Årevägen 173. (Draklanda)',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
      {
        preText: 'Skysport startade sin verksamhet i Åre 1990 och har sedan dess bedrivit verksamhet året runt.',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
     ],
   infoImg:  sommarSkutan,
    infoIcon: '',  
}

const Feature50bContent = {
     infoTitle: '',
     infoOrientationL: false,
     infoColL: 'sm:order-1',
     infoColR: 'sm:order-2',
     infoText: [
      {
        preText: 'Skysport ägs och drivs av Lars Hedström, Åre som började flyga 1988.',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
      {
        preText: 'Lars har genom åren samlat på sig en bred erfarenhet av utbildning, tandemflygning och tävlingsflygning. Tillsammans med några av Sveriges mest erfarna instruktörer och tandempiloter utgör Skysport ett väl sammansvetsat team, som gärna delar med sig av sin kunskap.',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
      {
        preText: 'Skysports affärsidé är att året runt kunna erbjuda utbildningar i skärmflyg som leder fram till licens. Även prova på utbildningar och tandemflyg i skärmflygning. Vi erbjuder också en komplett butik och web-butik, med både ny och begagnad utrustning. Butiken är belägen vid Draklanda i Åre. Vi utför också service och reparationer av utrustning.',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
     ],
   infoImg:  draklanda2,
    infoIcon: '',  
}
const Feature50cContent = {
     infoTitle: '',
     infoOrientationL: false,
     infoColL: 'sm:order-1',
     infoColR: 'sm:order-2',
     infoText: [
      {
        preText: 'Skysport ligger i västra delen av Åre, precis vid Åresjöns strand. Boendeanläggningen Lake Lodge Åre ligger bredvid',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
      {
        preText: 'Draklanda skärmflyglandningsfält ligger i västra delen av Åre. Fältet är ca 300 meter långt och 70 brett. Landningen är lämpliga för samtliga vindriktningar förutom Nordlig vind.',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
      
     ],
   infoImg:  draklanda200,
    infoIcon: '',  
}


 const VtabInfoContent = {
  infoTitle: "Om Skysport i Åre.",
  infoIcon: 'meteocons--windsock-fill',
  infoCards:[
    {
      cardText: "Skysport är en skärmflygskola som har sin bas vid Draklanda i Åre. Besöksadress är Årevägen 173. Skysport startade sin verksamhet i Åre 1990 och har sedan dess bedrivit verksamhet året runt.",
      cardImg: "summarSkutan",
      cardIcon: '',
      cardNr: 1,
    },
    {
      cardText: 'Vanligen sker flygningen på förmiddagen, mellan kl 9-12. Senare under dagen/eftermiddagen/kvällen kan också fungera, beroende på väder/årstid. Tiden för flygningen meddelas vanligen kvällen innan. Sista minuten bokning(samma dag) kan göras i mån av plats och om väder/vind är bra.',
      cardImg: 'topStugan',
      cardIcon: '',
      cardNr: 2,
    },
    {
      cardText: 'Samlingsplats för alla tandemflyg är Skysport, som ligger på Årevägen 173 i västra delen av Åre. Det är skyltat från bilvägen och det går att köra ända fram till samlingsplatsen.',
      cardImg: 'cardImage2',
      cardIcon: '',
      cardNr: 3,
    },
  ],
}
---
<Layout title="Skysport Skärmflygskola i Åre" description="" keywords="">
  <InnerHero content={InnerHeroContent} />
  <div class=" py-8 px-4 sm:px-8  md:px-68   dark:text-slate-200">
      <Breadcrumbs linkTextFormat="capitalized" separatorAriaHidden={false} customizeLinks={customLastPart}>
          <svg
              slot="index"
              aria-label="Home Page"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"> </path><polyline
              points="9 22 9 12 15 12 15 22"></polyline>
          </svg>
          <svg
              slot="separator"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><polyline points="9 18 15 12 9 6"></polyline>
          </svg>
      </Breadcrumbs>
  </div> 
  <MasonaryIntro content={MasonaryContent}/>
  <Feature50 content={Feature50Content}/>
  <Feature50 content={Feature50bContent}/>
  <BookingCTA content={BookingCtaContent}/>
  <Feature50 content={Feature50cContent}/>

</Layout>

<script is:inline>
  // nav header change on white page with inner Hero
  const checkInnerHero = document.querySelector('.innerhero');
  if (checkInnerHero) {
    let lastScrollTop = 0;
    const navHeader = document.getElementById("navheader");
    let sscy = 400; 
    window.addEventListener('scroll', () => {
      let currentScroll = window.pageYOffset || document.documentElement.scrollTop; 
      if (currentScroll > sscy) {
        // Scrollar nedåt   
        navHeader.classList.add('lg:bg-slate-600/50');
        navHeader.classList.add('lg:rounded-full');
      } else {
        // Scrollar uppåt
        navHeader.classList.remove('lg:bg-slate-600/50');
        navHeader.classList.remove('lg:rounded-full');
      }
      lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // Förhindra negativ scroll
    });
  }
</script> 