---
import Hr1 from "@components/elements/SeparatorLine.astro";
import ParaModal from "@components/elements/modals/parabooking.astro";
const kursRadioDates = [
    {
        kursLabel: 'Paramotor kurs vecka 21',
        kursValue: '2026-05-18',
        kursID: 'vecka-21',
        kursDate: '2026-05-18',
    },
    {
        kursLabel: 'Paramotor kurs vecka 41',
        kursValue: '2026-09-05',
        kursID: 'vecka-41',
        kursDate: '2026-09-05',
    },
    {
        kursLabel: 'Paramotor kurs vecka 42',
        kursValue: '2026-09-12',
        kursID: 'vecka-42',
        kursDate: '2026-09-12',
    },
];

const paraPrice = 6000.00;
const formattedPara = new Intl.NumberFormat('sv-SE', {
  style: 'currency',
  currency: 'SEK'
}).format(paraPrice);

---

<div class="max-w-[68rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <form method="POST">
    <div class="grid grid-cols-1 lg:grid-cols-4">
        <div class="lg:text-2xl font-bold"><!--col 1 -->
            <h3>Kurser<span class="text-amber-600 text-xl">*</span></h3>
            <div id="missed-para-kurs" class="hidden text-amber-600 text-xl">Obs! Välj en av kurser</div>
        </div>

        <div class="lg:col-span-3"><!-- col 2,3,4        id={`hs-radio-vertical-group-${index + 1}`}  -->
            <div class="flex flex-col gap-y-3">
                { kursRadioDates.map((kursdate, index) => (
                        <div class="flex">
                            <input type="radio"  id={kursdate.kursID}  name="hs-radio-vertical-group" class="shrink-0 mt-0.5 w-5 h-5 lg:w-6 lg:h-6 border-gray-200 rounded-full text-blue-600 focus:ring-blue-500 checked:border-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800" >
                            <label for={kursdate.kursID} class="text-md lg:text-lg text-gray-500 ms-2 dark:text-neutral-400">{kursdate.kursLabel}</label>
                            <input type="hidden" name={`hs-kurs-date-${index + 1}`} id={`hs-kurs-date-${index + 1}`} value={kursdate.kursDate} >
                            <input type="hidden" id={`hs-paraRubrik-${index + 1}`} name={`hs-paraTitle-${index + 1}`} value={kursdate.kursLabel}>
                            
                        </div>
                    ))
                }
            </div>
        </div><!-- end kurser -->

        <div class="lg:col-span-4">
           <Hr1 />
        </div>

        <div class="lg:text-2xl font-bold py-3"><!--col 1 -->
            <h3>Pris:</h3>
        </div>
        <div class="col-span-1 lg:col-span-3 py-0 sm:py-3">
            <div class="py-0 "><!-- 2 col again -->                                
                <input type="text" name="hs-pris" id="hs-pris" placeholder="" value={formattedPara} disabled class="lg:w-1/5 w-1/2 sm:w-full p-2 sm:py-3 sm:px-4 block w-full border  border-gray-200 rounded-lg sm:text-sm lg:text-lg focus:border-blue-500 focus:ring-blue-500  disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
            </div>      
        </div>
                              
            <input type="hidden" name="hs-summa" id="hs-summa"  value={paraPrice} disabled class="lg:w-1/5 sm:w-full p-2 sm:py-3 sm:px-4 block w-full border  border-gray-200 rounded-lg sm:text-sm lg:text-lg focus:border-blue-500 focus:ring-blue-500  disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
         
    </div><!--end grid-->
    

    <div class="lg:text-3xl pt-6 sm:pt-0">
            <h2>Kontakt Information</h2>
            <Hr1 />
    </div>
      <!-- Grid -->
        <div class="grid grid-cols-2 sm:grid-cols-5 gap-2 sm:gap-4 lg:gap-6">
            <div class="lg:text-2xl font-bold col-span-2 sm:col-span-1"><!--col 1 -->
                <h3>Namn<span class="text-amber-600 text-xl">*</span></h3>
            </div>
            <div class="py-0  col-span-2 ">
                <input type="text" name="hs-firstname-contacts-1" id="hs-firstname-contacts-1" placeholder="Förnamn"  class="p-2 sm:py-3 sm:px-2 w-full block  border  border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                <label for="hs-firstname-contacts-1" class="block mb-2 text-sm text-gray-700 font-medium dark:text-white">Förnamn<span class="text-amber-600 text-lg">*</span> </label>
            </div>
            <div class="py-0 col-span-2 ">
                <input type="text" name="hs-lastname-contacts-1" id="hs-lastname-contacts-1" placeholder="Efternamn" class="p-2 sm:py-3 sm:px-2 w-full block  border  border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                <label for="hs-lastname-contacts-1" class="block mb-2 text-sm text-gray-700 font-medium dark:text-white">Efternamn<span class="text-amber-600 text-lg">*</span> </label>
            </div>

            <div class="lg:text-2xl font-bold col-span-1 sm:col-span-1"><!--col 1 -->
                <h3>Födelseår<span class="text-amber-600 text-xl">*</span></h3>
            </div>
            <div class="py-2 sm:py-0  sm:col-span-2 ">
                <input type="text" name="hs-birthyear" id="hs-birthyear" placeholder="xxxx"  class="p-2 w-full sm:py-3 sm:px-2 sm:w-1/2 block  border  border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                <label for="hs-birthyear" class="block mb-2 text-sm text-gray-700 font-medium dark:text-white">Skriv ditt födelseår XXXX</label>
            </div>
            <div class="lg:text-2xl font-bold "><!--col 1 -->
               {/*  <h3>SSFF Lic nr</h3> */}
            </div>
            <div class="py-2 sm:py-0  sm:col-span-1 ">
                {/* <input type="text" name="hs-lic-nr" id="hs-lic-nr" placeholder="Lic. nr."  class="p-2 w-full  sm:py-3 sm:px-2 md:w-1/2 block  border  border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                <label for="hs-lic-nr" class="block mb-2 text-sm text-gray-700 font-medium dark:text-white">SSFF lic. nr.</label> */}
            </div>


            <!-- adress -->
            <div class="lg:text-2xl font-bold col-span-2 sm:col-span-1"><!--col 1 -->
                <h3>Adress<span class="text-amber-600 text-xl">*</span></h3>
            </div>
            <div class="py-0 col-span-2 sm:col-span-4 ">
                <input type="text" name="hs-gatu" id="hs-gatu" placeholder="Gatuadress"  class="p-2 sm:py-3 sm:px-2 w-full sm:w-3/4 block  border  border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                <label for="hs-gatu" class="block mb-2 text-sm text-gray-700 font-medium dark:text-white">Gatuadress</label>
            </div>

            <div class="lg:text-2xl font-bold hidden sm:block"><!--col 1 -->
                <h3>&nbsp;</h3>
            </div>
            <div class="py-2 sm:py-0 col-span-1 sm:col-span-2 ">
                <input type="text" name="hs-city" id="hs-city" placeholder="Stad"  class="p-2 sm:py-3 sm:px-2 w-full lg:w-1/2 block  border  border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                <label for="hs-city" class="block mb-2 text-sm text-gray-700 font-medium dark:text-white">Stad</label>
            </div>
            <div class="py-2 sm:py-0 col-span-1 smcol-span-2 ">
                <input type="text" name="hs-post-nr" id="hs-post-nr" placeholder="Postnummer"  class="p-2 sm:py-3 sm:px-2 w-full  block  border  border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                <label for="hs-post-nr" class="block mb-2 text-sm text-gray-700 font-medium dark:text-white">Postnummer</label>
            </div>

            <div class="lg:text-2xl font-bold hidden sm:block"><!--col 1 -->
                <h3>&nbsp;</h3>
            </div>
            <div class="py-2 sm:py-0 col-span-2 sm:col-span-4 sm:col-start-2">
                <input type="text" name="hs-land" id="hs-land" placeholder="Land"  class="p-2 w-full sm:py-3 sm:px-2 sm:w-3/4 lg:w-1/2 block  border  border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                <label for="hs-land" class="block mb-2 text-sm text-gray-700 font-medium dark:text-white">Land</label>
            </div>

            <div class="lg:text-2xl font-bold col-span-1 sm:col-span-1"><!--col 1 -->
                <h3>E-post<span class="text-amber-600 text-xl">*</span></h3>
            </div>
            <div class="py-2 sm:py-0 colspan-1 sm:col-span-4 ">
                <input type="email" name="hs-email-contacts-1" id="hs-email-contacts-1" autocomplete="email"  class="p-2 w-full sm:py-3 sm:px-2 sm:w-1/2 lg:w-1/3 block  border  border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                <label for="hs-email-contacts-1" class="block mb-2 text-sm text-gray-700 font-medium dark:text-white">E-post</label>   
            </div>
            
            <div class="lg:text-2xl font-bold col-span-1 "><!--col 1 -->
                <h3>Telefon dagtid</h3>
            </div>
            <div class="py-2 sm:py-0 col-span-1 sm:col-span-4 ">
                <input type="text" name="hs-tel-day" id="hs-tel-day" placeholder="tel. dag"  class="p-2 w-full sm:py-3 sm:px-2 sm:w-1/3 block  border  border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                <label for="hs-tel-day" class="block mb-2 text-sm text-gray-700 font-medium dark:text-white">Tel. dag</label>
            </div>

            <div class="lg:text-2xl font-bold "><!--col 1 -->
                <h3>Telefon mobil<span class="text-amber-600 text-xl">*</span></h3>
            </div>
            <div class="py-2 sm:py-0 col-span-1 sm:col-span-4 ">
                <input type="text" name="hs-mobile" id="hs-mobile" placeholder="tel. mobil"  class="p-2 w-full sm:py-3 sm:px-2 sm:w-1/3 block  border  border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                <label for="hs-mobile" class="block mb-2 text-sm text-gray-700 font-medium dark:text-white">Tel. Mobil</label>
            </div>

            <div class="lg:text-2xl font-bold "><!--col 1 -->
                <h3>Din Vikt</h3>
            </div>
            <div class="py-2 sm:py-0  sm:col-span-4 ">
                <input type="text" name="hs-weight" id="hs-weight" placeholder="Vikt"  class="p-2 w-full sm:py-3 sm:px-2 sm:w-1/4 block  border  border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600">
                <label for="hs-weight" class="block mb-2 text-sm text-gray-700 font-medium dark:text-white">Vikt</label>
            </div>

            <div class="lg:text-2xl font-bold col-span-2 sm:col-span-1"><!--col 1 -->
                <h3>Meddelande</h3>
            </div>
            <div class="py-2 sm:py-0 col-span-2 sm:col-span-4 ">
                <textarea id="hs-meddelande" name="hs-meddelande" class="py-2.5 sm:py-3 px-4 block w-full border  border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-200 dark:placeholder-neutral-500 dark:focus:border-neutral-700 dark:focus:ring-neutral-600" rows="3" placeholder="Om det är något mer du vill informera oss om eller fråga, kan du skriva det här! Om bokningen gäller för mer än en person kan ni meddela oss via detta meddelande." data-hs-textarea-auto-height=""></textarea>   
                <label for="hs-meddelande" class="block mb-2 text-sm text-gray-700 font-medium dark:text-white">Meddelande</label>
            </div>

             <div class="lg:text-2xl font-bold col-span-2 sm:col-span-1 pt-2"><!--col 1 -->
                <h3>Nyhetsbrev</h3>
            </div>
            <div class="py-0 sm:py-0 col-span-2 sm:col-span-4 flex flex-row items-center">                  
                <input id="hs-news" name="hs-news" type="checkbox" value="true" class="shrink-0 mt-1.5   cursor-pointer rounded-full w-5 h-5 sm:w-4 sm:h-4 p-5 border border-gray-200 rounded-sm text-blue-600 focus:ring-blue-500 dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800">
                <label for="hs-news" class="pt-2 text-sm text-gray-600 px-2 sm:text-xl dark:text-neutral-400">Ja tack!  Jag vill prenumerera på Skysport's Nyhetsbrev.</label>
            </div>

            <div class="lg:text-2xl font-bold col-span-2 sm:col-span-1 pt-2 "><!--col 1 -->
                <h3>Integritietspolicy<span class="text-amber-600 text-xl">*</span></h3>
            </div>
            <div class="py-0 col-span-2 sm:col-span-4  flex flex-row items-center">                  
                <input id="hs-integ" name="hs-integ" type="checkbox" value="true" class="shrink-0 mt-1.5   cursor-pointer rounded-full w-5 h-5 sm:w-4 sm:h-4 p-5  border border-gray-200 rounded-sm text-blue-600 focus:ring-blue-500 dark:bg-neutral-800 dark:border-neutral-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800">
                <label for="hs-integ" class="pt-2 sm:pt-0text-sm text-gray-600 px-2 sm:text-xl dark:text-neutral-400"> Jag godkänner.  Läs om Skysports integritetspolicy här: <a class="text-blue-600 decoration-2 hover:underline focus:outline-hidden focus:underline font-medium dark:text-blue-500" href="https://skysport.se/integritetspolicy/">integritetspolicy(GDPR)</a></label>
            </div>

        </div>
      
        <div class="mt-3 flex">
            <div class="mt-6 grid">
                <button type="button" id="para-book" class="w-s py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-amber-700 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">Boka Paramotor Kurs</button>
            </div>
        </div>
        
    </form>

</div>

<ParaModal /> 
<script is:inline>
    const paraPrice = document.getElementById("hs-pris").value;
    
    function currencyNumber(kroners){
        let currencyString = kroners;
        let numericString = currencyString.replace(/[^0-9.-]+/g,""); // Removes $, commas, etc.
        let numberValue = parseFloat(numericString);
        return numberValue;
    }
</script> 

<script is:inline>

    function radioValue(radiogroupname) {
        var rbv = document.getElementsByName(radiogroupname);
        for (i = 0; i < rbv.length; i++) {
            if (rbv[i].type = "radio") {
                if (rbv[i].checked) 
                    return(rbv[i].value); 
            }   
        }
    }
     function radioID(radiogroupname) {
        var rbvx = document.getElementsByName(radiogroupname);
        for (i = 0; i < rbvx.length; i++) {
            if (rbvx[i].type = "radio") {
                if (rbvx[i].checked) 
                    return(rbvx[i].id); 
            }   
        }
    } 
      function radioKurs(radiogroupname) {
        var rbvk = document.getElementsByName(radiogroupname);
        for (i = 0; i < rbvk.length; i++) {
            if (rbvk[i].type = "radio") {
                if (rbvk[i].checked) 
                    return(rbvx[i].id); 
            }   
        }
    } 

    const validateParaBooking = () => {
    
    const radioParaKurs = radioValue('hs-radio-vertical-group');
    
    if (radioParaKurs !== 'on') {
        get('missed-para-kurs').classList.remove('hidden')
        get('vecka-21').focus();
        HSOverlay.open('#hs-para-radio-alert');
        return false;
    } else {
        get('missed-para-kurs').classList.add('hidden')
        
    } 
     if (get('hs-firstname-contacts-1').value.length < 2) {
      get('hs-firstname-contacts-1').classList.remove('border-gray-200')
      get('hs-firstname-contacts-1').classList.add('border-red-500')
      get('hs-firstname-contacts-1').focus();
       HSOverlay.open('#hs-para-alert');
    } else if (get('hs-lastname-contacts-1').value.length < 2) {
      get('hs-lastname-contacts-1').classList.remove('border-gray-200')
      get('hs-lastname-contacts-1').classList.add('border-red-500')
      get('hs-lastname-contacts-1').focus();
      HSOverlay.open('#hs-para-alert');
    } else if (get('hs-birthyear').value.length < 4) {    
      get('hs-birthyear').classList.remove('border-gray-200')
      get('hs-birthyear').classList.add('border-red-500')
      get('hs-birthyear').focus();
      HSOverlay.open('#hs-para-alert');
    } else if (get('hs-gatu').value.length < 5) {      
      get('hs-gatu').classList.remove('border-gray-200')
      get('hs-gatu').classList.add('border-red-500')
      get('hs-gatu').focus();
      HSOverlay.open('#hs-para-alert');
    } else if (get('hs-city').value.length < 2) {      
      get('hs-city').classList.remove('border-gray-200')
      get('hs-city').classList.add('border-red-500')
      get('hs-city').focus();
      HSOverlay.open('#hs-para-alert');
    } else if (get('hs-post-nr').value.length < 5) {      
      get('hs-post-nr').classList.remove('border-gray-200')
      get('hs-post-nr').classList.add('border-red-500')
      get('hs-post-nr').focus();
      HSOverlay.open('#hs-para-alert');
    } else if (get('hs-land').value.length < 4) {      
      get('hs-land').classList.remove('border-gray-200')
      get('hs-land').classList.add('border-red-500')
      get('hs-land').focus();
      HSOverlay.open('#hs-para-alert');
    } else if (get('hs-email-contacts-1').value.length < 5 || !get('hs-email-contacts-1').value.includes('@')) {
      get('hs-email-contacts-1').classList.remove('border-gray-200')
      get('hs-email-contacts-1').classList.add('border-red-500')
      get('hs-email-contacts-1').focus();
      HSOverlay.open('#hs-email-alert');
    } else if (get('hs-mobile').value.length < 5) {      
      get('hs-mobile').classList.remove('border-gray-200')
      get('hs-mobile').classList.add('border-red-500')
      get('hs-mobile').focus();
      HSOverlay.open('#hs-mobil-alert');
    } /* else if (!get('hs-kursvilkor').checked) {      
      get('hs-kursvilkor').classList.remove('border-gray-200')
      get('hs-kursvilkor').classList.add('border-red-500')
      get('hs-kursvilkor').focus();
      HSOverlay.open('#hs-res-vilkor-alert');} */
     else if (!get('hs-integ').checked) {      
      get('hs-integ').classList.remove('border-gray-200')
      get('hs-integ').classList.add('border-red-500')
      get('hs-integ').focus();
      HSOverlay.open('#hs-para-vilkor-alert');
    }  else {
      sendmail()
     
       // document.getElementById("res-booking").reset(); 
    }

  }

const get = (id) => document.getElementById(id) || { value: '' }
const submitForm = () => {
    validateParaBooking()
    //HSOverlay.open('#hs-res-alert');
  //saveInput()
 //alert(radioID('hs-radio-vertical-group'));
  //sendmail()
}

const getFormData = () => {
  const store = Object.create(null)
    store.kursDate = radioValue('hs-radio-vertical-group')
    store.kursVeckan = radioID('hs-radio-vertical-group')
    store.paraPrice = document.getElementById("hs-pris").value
    store.summa = document.getElementById("hs-summa").value

    // Contact Info
    store.firstName = get('hs-firstname-contacts-1')?.value
    store.lastName = get('hs-lastname-contacts-1')?.value
    store.birthYear = get('hs-birthyear')?.value
    store.adress = get('hs-gatu')?.value
    store.city = get('hs-city')?.value
    store.postNr = get('hs-post-nr')?.value
    store.country = get('hs-land')?.value
    store.email = get('hs-email-contacts-1')?.value
    
    store.telDay = get('hs-tel-day')?.value 
    if (store.telDay.length < 3 ) 
       store.telDay = 'N/A';
    store.tel = get('hs-mobile')?.value
    store.weight = get('hs-weight')?.value
    if( store.weight.length < 2 ) 
        store.weight = 'N/A';
    store.message = get('hs-meddelande')?.value
    if (get('hs-news')?.checked) {
        store.newsletter = 'Ja';
    } else {
        store.newsletter = 'Nej';
    }
    if (get('hs-integ')?.checked) {
        store.checkboxOK = 'Ja';
    } else {
        store.checkboxOK = 'Nej';
    }
    store.subject = 'Paramotor Kurs Bokning'
    return store
}

const submitBtn = document.getElementById('para-book')
//const submitBtn = document.querySelector('[type="submit"]')
submitBtn?.addEventListener('click', submitForm)

const sendmail = async () => {
  const { firstName, lastName, tel, telDay, email, message, kursDate, kursVeckan, paraPrice, summa, weight, birthYear, adress, postNr, city, country, newsletter, checkboxOK, subject } = getFormData()
  const data = await fetch('/api/sendParaKursBooking.json', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ firstName, lastName, tel, telDay, email, message, kursDate, kursVeckan, paraPrice, summa, weight, birthYear, adress, postNr, city, country, newsletter, checkboxOK, subject }),
  })
    .then((res) => {
      if (!res.ok) {
        throw new Error(res.status)
      }
      return res.json()
    })
    .catch((err) => {
      console.log('Error', err)
      throw new Error('Network error.')
    })

  console.log(data) // Here is the response from backend
   alert('Message successfully sent');
  document.getElementById("booking-form").reset();
}

</script>




