---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Button from "@components/ui/Button.astro";



interface FeatureCTAContent {
  title: string;
  subTitle?: string;
  subTitleClasses?: string;
  description?: string;
  bgIMG:  ImageMetadata;
  buttons?: {
    text: string;
    link: string;
    target?: string;
  }[];
  extraLink?: {
    text: string;
    link: string;
    target?: string;
  }[];
 
}

interface Props {
  content: FeatureCTAContent;
}
const { content } = Astro.props;


---
<!-- Features -->
<div class="max-w-6xl lg:max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:pt-14 lg:py-0 mx-auto">
  <div class="min-h-[35vh] md:min-h-[75vh]  bg-center bg-cover bg-no-repeat relative rounded-xl">
        {content.bgIMG && (
                <Image
                    src={content.bgIMG}
                    alt="Boka Grundkurs"
                   inferSize
                    class="w-full lg:h-2/3 object-cover rounded-xl filter grayscale"
                    quality={70}
                    format="webp"
                    loading="eager"
                    decoding="async"
                />
            )}
    
    <div class="absolute  -bottom-10 md:bottom-0 md:top-0 start-0 end-0 max-w-xs text-center mx-auto p-6 md:start-auto md:text-start md:mx-0">
      <!-- Card -->
      <div class="px-5 py-4 inline-block bg-amber-200 sm:bg-slate-400 bg-opacity-30 rounded-lg md:p-7 dark:bg-neutral-800 dark:bg-opacity-30">
        <div class="hidden md:block">
          <h3 class="text-lg font-bold text-gray-800 sm:text-2xl dark:text-neutral-200">{content.title}</h3>
           {  content.description &&  (
          <p class="mt-2 text-gray-800 dark:text-neutral-200">{content.description}</p>
           )}
        </div>
        {  content.buttons && content.buttons.length > 0 && (
        <div class="flex  flex-col gap-4 my-8  md:my-0 md:mt-8 items-center">
          {content.buttons.map((button) => (
            <Button
              href={button.link}
              target={button.target || "_self"}
              variant={button.variant || "primary"}
            >
              {button.text}
            </Button>
          ))}
        </div>
      )
    }
     {  content.extraLink && content.extraLink.length > 0 && (
        <div class="md:mt-16">
            {content.extraLink.map((link) => (
          <a class="flex items-center gap-2 text-sm font-medium text-gray-800 hover:text-gray-500 focus:outline-hidden focus:text-amber-500 dark:text-white dark:hover:text-amber-600 dark:focus:text-neutral-400" href={link.link}>
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polygon points="5 3 19 12 5 21 5 3"/></svg>
            {link.text}
          </a>
           ))}
        </div>
            )
        }


      </div>
      <!-- End Card -->
    </div>
  </div>
</div>
<!-- End Features -->