---
//import Button from '@/components/ui/Button.astro';
import Button from "@components/ui/Button.astro";
import { Image } from 'astro:assets';

interface HeroContent {
    title: string;
    description: string;
    descriptionImage?: string | any;
    backgroundImage?: string | any; // Using any for now to handle both string paths and imported images
    overlayOpacity?: number; 
    fadeOut?: number;// Value between 0 and 1
    position?: string;
    buttons?: {
    text: string;
    link: string;
    target?: string;
  }[];
}

interface Props {
    content: HeroContent;
} 

const { content } = Astro.props;
const opacity = content.overlayOpacity ?? 1; // Default opacity if not specified
const overlayPosition = content.position || "justify-center";
---

 <!-- <section class="header-offset relative h-screen"> -->
 <section class="imagehero header-offset  h-screen"> 
    {content.backgroundImage && (
        <div class="absolute inset-0 left-0 top-0 w-full  h-screen overflow-hidden ">
            <Image
                src={content.backgroundImage}
                alt="Skysport tandemflyg i Åre"
                width={1920}
                height={1080}
                class="lg:w-full h-full object-cover object-[82%_50%] "
                quality={70}
                format="webp"
                loading="eager"
                decoding="async"
                priority 
       
            />  
            <div
                class="hero-background absolute inset-0 left-0 top-0 w-full h-full overflow-hidden"
                style={`opacity: ${opacity};`}
            ></div> 
        </div>
    )}

     <div class="site-container mx-auto p-20 relative z-10 flex flex-col h-screen items-center justify-center text-center fadeOut delay-3500" class:list={overlayPosition}>
                {content.descriptionImage && (
            <div class="">
                <Image
                    src={content.descriptionImage}
                    alt="Skysport Skärmflygskola"
                    width={486}
                    height={280}
                    class=" invisible lg:visible"
                    quality={70}
                    format="webp"
                    loading="eager"
                    decoding="async"   
                />
            </div>
        )} 
        <h4 class="lg:text-white text-balance lg:text-6xl lg:text-bold" >{content.title}</h4>
        <p class="text-white mt-2 text-balance" data-aos="fade-up" data-aos-delay="100">{content.description}</p>
        {
      content.buttons && content.buttons.length > 0 && (
        <div class="flex  flex-col md:flex-row gap-4 mt-8 items-center">
          {content.buttons.map((button) => (
            <Button
              href={button.link}
              target={button.target || "_self"}
              variant={button.variant || "primary"}
            >
              {button.text}
            </Button>
          ))}
        </div>
      )
    }
         
    </div> 
</section>

