---
//import {  Vimeo, YouTube } from 'astro-embed';
import { Image } from "astro:assets";
import Button from "@components/ui/Button.astro";
import WindLinks from "@components/elements/windlinks.astro";
import { Icon } from "astro-icon/components";


interface VideoContent {
  title?: string;
  description?: string;
  descriptionImage?: ImageMetadata;
  backgroundVideo: string;
  mobileVideo?: string;
  buttons?: {
    text: string;
    link: string;
    target?: string;
  }[];
  overlayOpacity?: number; // Value between 0 and 1
  position?: string;
  page?: string;
  windLinks?: boolean;
}
interface Props {
  content: VideoContent;
}

const { content } = Astro.props;
const opacity = content.overlayOpacity ?? 1; // Default opacity if not specified
const myVideo = content.backgroundVideo;
const mobileVideo = content.mobileVideo;
const overlayPosition = content.position || "justify-center";

const pageLink = content.page;
const currentPage = content.page;
---

<astro-page data-page={currentPage}></astro-page>
<section class="videohero">
  <div class="absolute inset-0 left-0 top-0 w-full h-screen overflow-hidden">
    <video  autoplay loop muted playsinline class="hidden md:block min-h-full w-full object-cover">
      <source src={myVideo} type="video/mp4" />
    </video>

    <video  autoplay loop muted playsinline class="md:hidden min-h-full w-full object-cover">
      <source src={mobileVideo} type="video/mp4" />
    </video>
  </div>
  {content.windLinks && <WindLinks />}
 

  <div
    class="hero-background absolute inset-0 left-0 top-0 h-screen lg:w-full lg:h-full overflow-hidden"
    style={`opacity: ${opacity};`}
  >
  </div>
  <!-- logo and text overlay -->
  <div
    class="site-container mx-auto px-4 pt-0 pb-20 relative z-10 flex flex-col justify-center h-screen sm:items-center md:justify-end sm:text-center"
    class:list={overlayPosition}
  >
    {
      content.descriptionImage && (
        <div class="">
          <Image
            src={content.descriptionImage}
            alt="Skysport Skärmflygskola"
            width={486}
            height={280}
            class=" invisible md:visible"
            quality={90}
            format="webp"
            loading="lazy"
          />
        </div>
      )
    }
    <p class="text-center text-white text-4xl text-balance">{content.title}</p>
    <p class="text-center text-white mt-2 text-balance">
      {content.description}
    </p>
    {
      content.buttons && content.buttons.length > 0 && (
        <div class="flex  flex-col md:flex-row gap-4 mt-8 items-center">
          {content.buttons.map((button) => (
            <Button
              href={button.link}
              target={button.target || "_self"}
              variant={button.variant || "primary"}
            >
              {button.text}
            </Button>
          ))}
        </div>
      )
    }

  </div>
</section>
<script is:inline>

  function startPageMenu(){
    document.getElementById("navheader").classList.add("hidden");
    let lastScrollTop = 0;
    const navHeader = document.getElementById("navheader");
    window.addEventListener('scroll', () => {
      let currentScroll = window.pageYOffset || document.documentElement.scrollTop;
      if (currentScroll > lastScrollTop) {
        // Scrollar nedåt
        navHeader.classList.remove('hidden');
      } else {
        // Scrollar uppåt
        navHeader.classList.add('hidden');
      }
      lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // Förhindra negativ scroll
    });
  }

  function otherPageMenu(){
     const checkVideoHero = document.querySelector('.videohero');
  if (checkVideoHero) {
    let windowHeight = window.innerHeight;
    const navHeader = document.getElementById("navheader");
    window.addEventListener('scroll', () => {
      let currentScroll = window.pageYOffset || document.documentElement.scrollTop; 
      if (currentScroll > windowHeight) {
        // Scrollar nedåt   
        navHeader.classList.add('lg:bg-slate-600/50');
        navHeader.classList.add('lg:rounded-full');
      } else {
        // Scrollar uppåt
        navHeader.classList.remove('lg:bg-slate-600/50');
        navHeader.classList.remove('lg:rounded-full');
      }
      lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // Förhindra negativ scroll
    });
  };
  }
  class AstroPage extends HTMLElement {
    connectedCallback() {
      const page = this.dataset.page;
      if(page === 'start'){
        //   alert('this is the start page ' + page);
           startPageMenu();
      } else {
       //  alert('this is NOT the start page ' );
         otherPageMenu();
      }
     
    }
  }
  customElements.define('astro-page', AstroPage);
</script>


<!-- <script is:inline> 



 
  const checkVideoHero = document.querySelector('.videohero');
  if (checkVideoHero) {
    let windowHeight = window.innerHeight;
    const navHeader = document.getElementById("navheader");
    window.addEventListener('scroll', () => {
      let currentScroll = window.pageYOffset || document.documentElement.scrollTop; 
      if (currentScroll > windowHeight) {
        // Scrollar nedåt   
        navHeader.classList.add('lg:bg-slate-600/50');
        navHeader.classList.add('lg:rounded-full');
      } else {
        // Scrollar uppåt
        navHeader.classList.remove('lg:bg-slate-600/50');
        navHeader.classList.remove('lg:rounded-full');
      }
      lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // Förhindra negativ scroll
    });
  };
</script>  -->
