---
import Layout from "@layouts/MainLayout.astro";
import ImageHero from "@components/sections/ImageHero.astro";
import BigSwiper from "@elements/bigCarouselSwiper.astro";
import HeroImage from '@assets/images/res/turk-3.jpg';
import SimpleText from '@components/sections/simpletext.astro'
import ResInfo from "@components/sections/resInfo.astro";

import Swiper1 from '@assets/images/res/turk-1.jpg';
import Swiper2 from '@assets/images/res/morok1.jpg';
import Swiper3 from '@assets/images/res/turk-2.jpg';
import Swiper4 from '@assets/images/res/morok5.jpg';
import Swiper5 from '@assets/images/res/turk-3.jpg';



import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";

const customLastPart = [
  { index: "last", text: "Resor" },
/*   {
    "data-link": "home",
    "aria-label": "Go to the home page",
    text: "Page 1",
  },
  {
    "data-link": "about",
    "aria-label": "Go to the about page",
    text: "Page 2",
  }, */
];

const BigSwiperContent =  {
    title: 'Resor 2026',
    description: '',
    carouselItems: [
      {
        title: 'TURKIET',
        intro: 'Ölüdeniz är Turkiets mest kända skärmflygställe och ett av de mest vädersäkra som finns i världen. ',
        content: 'I år erbjuda Sysport resor i Maj och September.  ',
        image: Swiper1,
        image_alt: 'Skysport Resa till Turkiet',
        imgHeight: 500,
        imgWidth: 900,
        buttons: [
          {
            text: 'Läs mer',
            link: '/Resor/turkiet',
          },
          {
            text: 'BOKA',
            link: '/Resor/boka',
          },
        ],
    },
    {
        title: 'MAROCKO',
        intro: '',
        content: '',
        image: Swiper2,
        image_alt: 'Skysport Resa till Marocko',
        imgHeight: 500,
        imgWidth: 900,
        buttons: [
          {
            text: 'Läs mer',
            link: '/Resor/marocko',
          },
          {
            text: 'BOKA',
            link: '/Resor/boka',
          // target: string,
          },
        ],
    },
     {
        title: 'TURKIET',
        intro: '',
        content: '',
        //cta: '',
        image: Swiper3,
        image_alt: 'Skysport Resa till Turkiet',
        imgHeight: 500,
        imgWidth: 900,
        buttons: [
          {
            text: 'Läs mer',
            link: '/Resor/turkiet',
          },
          {
            text: 'BOKA',
            link: '/Resor/boka',
          },
        ],
    },
     {
        title: 'Marocko',
        intro: '',
        content: '',
        //cta: '',
        image: Swiper4,
        image_alt: 'Skysport Resa till Marocko',
        imgHeight: 500,
        imgWidth: 900,
        buttons: [
          {
            text: 'Läs mer',
            link: '/Resor/marocko',
          },  
          {
            text: 'BOKA',
            link: '/Resor/boka',
          },
        ],
    },
    {
        title: 'Turkiet',
        intro: '',
        content: '',
        //cta: '',
        image: Swiper5,
        image_alt: 'Skysport Resa till Turkiet',
        imgHeight: 500,
        imgWidth: 900,
        buttons: [
          {
            text: 'Läs mer',
            link: '/Resor/turkiet',
          },  
          {
            text: 'BOKA',
            link: '/Resor/boka',
          },
        ],
    },
  ],
    
}

const HeroContent = {
    title: "Skysport Resor 2026",
    description: "I 2026 fokusera vi på resor till Turkiet och Morocco. Välkommen att följa med!",
    backgroundImage: HeroImage,
    bgImagePosition: "object-bottom-left",
     titleTextStyles: 'bg-slate-200/40 sm:bg-slate-200/70 p-2 text-2xl text-white  lg:p-3 rounded-lg md:text-4xl  md:text-primary',
    overlayOpacity: 0.2,
    position: "justify-end",
}

const SimpleTextContent = {
    colWidth: 'max-w-full sm:w-4/5 lg:max-w-[65rem]',
     infoText: [
        {
          preText: 'Om du vill ta med anhöriga på resan (ej skärmflygare) så går det bra. De betalar då 4.900 kr. I det priset ingår:  transfer, boende inkl frukost.',
          spanText: '',
          spanClasses: 'text-xl font-bold text-orange-600',
          postText: '',
        },
        {
          preText: '',
          spanText: 'Obs! Det går att få singelrum mot tillägg 2.950 kr, När ni skickar in anmälan så nämner ni detta i meddelande rutan.',
          spanClasses: 'text-lg font-semibold text-slate-600 dark:text-slate-200',
          postText: '',
        },
        {
          preText: '',
          spanText: 'När vi får in bokningen så skickar vi en Faktura på 3000 kr som är en anmälningsavgift som inte går att få tillbaka vid avbokning. Resten av kostnaden betalas senast 3 veckor innan avresa.',
          spanClasses: 'text-lg uppercase font-semibold text-slate-600 dark:text-slate-200',
          postText: '',
        },
     ],
}
---
<Layout title="Skysport Skärmflygskola i Åre" description="" keywords="">

    <ImageHero content={HeroContent}/>  
   <div class=" py-8 px-4 sm:px-8  md:px-68   dark:text-slate-200">
    <Breadcrumbs
      linkTextFormat="capitalized"
      separatorAriaHidden={false}
      customizeLinks={customLastPart}
    >
      <svg
        slot="index"
        aria-label="Home Page"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z">
        </path><polyline points="9 22 9 12 15 12 15 22"></polyline>
      </svg>
      <svg
        slot="separator"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><polyline points="9 18 15 12 9 6"></polyline>
      </svg>
    </Breadcrumbs>
  </div>
  <BigSwiper content={BigSwiperContent}/>
 <!--    <ResInfo />
    <SimpleText content={SimpleTextContent} />  -->
 
</Layout>

