---
import Layout from "@layouts/MainLayout.astro";
import ImageHero from "@components/sections/ImageHero.astro";
import VideoHero from "@components/sections/VideoHero.astro";
import Reco from "@components/sections/RecoBar.astro";
import Button from "@components/ui/Button.astro";

import Tandem1 from '../assets/images/tandem/summartandem.jpg';
import kurs1 from '../assets/images/kurs/1.jpg';
import butik1 from '@assets/images/IMG_7038.jpg';
import HeroImage from '../assets/images/IMG_7595.jpg';
import LogoImage from '../assets/images/Skysport_Logo-01-invert-468.png';
import CardImage1 from '../assets/images/mellanmullfjallet27.jpg';
import ProductIMG from '@assets/images/products/solarxon.jpg';
import { siteConfig } from "@config/site";


const myVideo = "https://strapi-cdn-2.s3.eu-north-1.amazonaws.com/skysport25/video/1ASIDA.mp4";
const mobVideo = "https://strapi-cdn-2.s3.eu-north-1.amazonaws.com/skysport25/video/start/1ASIDA-mobb.mp4";

const VideoContent = {
  //title: "Vi erbjuder tandemflyg från Åreskutan året runt",
  //description: "Vi erbjuder tandemflyg från Åreskutan året runt",
  backgroundVideo: myVideo,
  mobileVideo: mobVideo,
  //descriptionImage: LogoImage,
  overlayOpacity: 0.2,
  page: "tandem",
  position: "justify-end",
  buttons: [
   /* {
      text: "BOKA TANDEM",
      link: "#bokatandem",
      target: "_self",
    },*/
  ],
};

 const HeroTandemContent = {
    title: "Tandemflyg från Åreskutan",
    description: "",
    backgroundImage: Tandem1,
    overlayOpacity: 0.2,
    position: "justify-end",
    buttons: [
        {
        text: "Boka Tandemflyg",
        link: "/Tandem/tandem",
        target: "_self",
        },
    ],
};
 const HeroKursContent = {
    title: "Skärmflygutbildning i Åre",
    description: "Skysport erbjuder grundkurs, fortsättningskurser, säkerhetskurser och paramotorkurser",
    backgroundImage: kurs1,
    overlayOpacity: 0.2,
    position: "justify-end",
    buttons: [
    {
      text: "Skärmflyg Kurser",
      link: "/Kurs/omskarmflyg",
      target: "_self",
    },
  ], 
}; 

 const HeroButikContent = {
    title: "Butik",
    description: "Återförsljare för Ozone, BDG Design, U-Turn, Swing, Icaro, Sup Air, mm ",
    backgroundImage: butik1,
    overlayOpacity: 0.2,
    position: "justify-end",
    buttons: [
    {
      text: "Butik",
      link: "/butik",
      target: "_self",
    },
  ], 
}; 
const HeroResContent = {
    title: "Resor",
    description: "Turkiet, Columbia, mm",
    backgroundImage: kurs1,
    overlayOpacity: 0.2,
    position: "justify-end",
    buttons: [
    {
      text: "Resor",
      link: "/resor",
      target: "_self",
    },
  ], 
}; 

---

<Layout
title="Skysport Skärmflygskola i Åre"
description="Welcome to Rico's portfolio site! Explore my work as a web/UI designer with 8+ years of experience in creating captivating visuals and interactive experiences."
keywords="Rico, Portfolio, Web Design, UI Design, Frontend Development, Creative Designer"
>

 <VideoHero content={VideoContent}/> 

 <section class="relative">
  <ImageHero content={HeroTandemContent}/>
</section>
<section class="relative">
  <ImageHero content={HeroKursContent}/> 
</section>
<section class="relative">
  <ImageHero content={HeroButikContent}/> 
</section>
<section class="relative">
  <ImageHero content={HeroResContent}/> 
</section>
<section >
    <Reco />
</section>
 
</Layout>
<script>
  //document.getElementById("banner").classList.add("hidden");
  document.getElementById("navheader").classList.add("hidden");

  let lastScrollTop = 0;
 // const navbanner = document.getElementById("banner"); 
  const navHeader = document.getElementById("navheader");

  window.addEventListener('scroll', () => {
    let currentScroll = window.pageYOffset || document.documentElement.scrollTop;

    if (currentScroll > lastScrollTop) {
      // Scrollar nedåt
      //navbanner.classList.add('hidden');
   //   navbanner.classList.remove('hidden');
      navHeader.classList.remove('hidden');
    } else {
      // Scrollar uppåt
    // navbanner.classList.remove('hidden');
    //  navbanner.classList.add('hidden');
      navHeader.classList.add('hidden');
    }
    lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // Förhindra negativ scroll
  });

</script> 