---

import { siteConfig } from "@config/site";

import Layout from "@layouts/MainLayout.astro";


import ImageHero from "@components/sections/ImageHero.astro";
import VideoHero from "@components/sections/VideoHero.astro";
import VimeoFeatures from "@components/sections/Features.astro";
import FeatureProduct from "@components/sections/featureProduct.astro";
import HeroImage from '../assets/images/IMG_7595.jpg';
import LogoImage from '../assets/images/Skysport_Logo-01-invert-468.png';
import ThreeCards from "@components/sections/ThreeCards.astro";
import CardImage1 from '../assets/images/mellanmullfjallet27.jpg';
import CardImage2 from '../assets/images/tandemhenning23.jpg';
import CardImage3 from '../assets/images/pie3.jpg';

import ProductIMG from '@assets/images/products/solarxon.jpg'

import Reco from "@components/sections/RecoBar.astro";

const myVideo = "https://strapi-cdn-2.s3.eu-north-1.amazonaws.com/winter-start-25.MP4";

const VideoContent = {
    title: "Skärmflyg i Åre ",
    description: "Skärmflygutbildning, Butik, Resor och Tandemflygning från Åreskutan. ",
    backgroundVideo: myVideo,
    descriptionImage: LogoImage,
    overlayOpacity: 0.2,
    page: "start"
}


const HeroContent = {
    title: "Skärmflyg i Åre",
    description: "Skärmflygutbildning, Butik, Resor och Tandemflygning från Åreskutan.",
    backgroundImage: HeroImage,
    descriptionImage: LogoImage,
    overlayOpacity: 0.2,
  
}
const HerobContent = {
    title: "Skärmflyg i Åre",
    description: "Skärmflygutbildning, Butik, Resor och Tandemflygning från Åreskutan.",
    backgroundImage: HeroImage,
    descriptionImage: LogoImage,
    overlayOpacity: 0.2,
  
}

const ProductContent = {
    title: "Populärt i butiken",
    description: "Skysports skärmflyg butik här en av de bästa utbud i norden. Kolla in hela sortimenten:  ",
    butikLink: "https://skysport.se/butik/",
    product: [
        {
            title: 'Icaro Solar X 2 inkl Peltor WS Alert XP',
            description: 'Snygg hjälm designad för paramotor. (fungerar även bra till skoter). Det 3mm tunna skalet är gjort av polykarbonat som är ett väldigt starkt material samtidigt som det är fjäderlätt.  Hjälmen har två luftkanaler för god ventilation. Den har en enkel justerings mekanism så du lätt kan öppna och stänga lufttillförseln med en hand medans du flyger. ',
            mainIMG: ProductIMG,
            price: '9 280 kr',
            productURL: 'https://skysport.se/produkt/icaro-solar-x-2-inkl-peltor-ws-alert-xp/',
            features: [
                {
                    featureIcon: 'test',
                    featureText: 'Hjälm: 550 gram',
                },
                {
                    featureIcon: 'test',
                    featureText: 'Radiokåpor/headset: 390 gram',
                },
                {
                    featureIcon: 'test',
                    featureText: '(EN 966) certifiering enligt europeisk standard för flygsport.',
                },
            ] ,
            colors: [
                {
                    productColor: 'Carbon/Optik',
                },
                {
                    productColor: 'Svart/Grön',
                },
                {
                    productColor: 'Svart/Orange',
                },
                {
                    productColor: 'Svart/Vit',
                },
            ] ,
            sizes: [
                {
                    productSize: 'Large 60-61cm ',
                },
                {
                    productSize: 'Medium 57-59cm ',
                },
                {
                    productSize: 'Small 53-56cm ',
                },
            ] ,

        },
    ],

  
}

const VimeoContent = {
    title: "Mer videos av Skärmflyg i Åre",
    description: "Du hitta mer videos om Skysport och skärmflygning i Åre :",
    skysportonvimeo: 'https://vimeo.com/user58363115?fbclid=IwAR3oPCNzTwYeAfxtt3xHQBs413hMlK__4m6Gh4XUANqIiAzMZ70VkmA0_A8',
    vimeovideos: [
        {
            text: 'Grundkurs',
            link: 'https://vimeo.com/417602664?fl=pl&fe=sh',
            videoID: '417602664',
            target: '_self'
        },
        {
            text: 'Tandem',
            link: 'https://vimeo.com/418449134?fl=pl&fe=sh',
            videoID: '418449134',
            target: '_self'
        },
                {
            text: 'Boende',
            link: 'https://vimeo.com/409693533?fl=pl&fe=sh',
            videoID: '409693533',
            target: '_self'
        },
    ],

  
}

const CardContent = {
    title1: "Grundkurs",
    description1: "Förverkliga drömmen och lär dig skärmflyga. Under en 5 dagars intensivkurs i Åre flyger du både i liten backe och höjdflyg från Åreskutan. Kursen leder fram till licens.",
    image1: CardImage1,
    url1left: "start",
    linktext1left: "Läs Mer",
    url1right: "",
    linktext1right: "BOKA",
    title2: "Tandem",
    description2: "Tillsammans med en erfaren instruktör flyger du på ett säkert och avslappnat sätt från Åreskutan. Arrangeras dagligen under säsong. Inga förkunskaper krävs.",
    image2: CardImage2,
    url2left: "start",
    linktext2left: "Läs Mer",
    url2right: "tandem",
    linktext2right: "BOKA",
    title3: "Nyheter",
    description3: "Vinter/Vår 2026:  Vi startar säsongen 2 februari. Under februari-september arrangeras kurser kontinuerligt.",
    image3: CardImage3,
    url3left: "",
    linktext3left: "",
    url3right: "/blog",
    linktext3right: "NYHETER",

}
---

<Layout
title="Skysport Skärmflygskola i Åre"
description="Welcome to Rico's portfolio site! Explore my work as a web/UI designer with 8+ years of experience in creating captivating visuals and interactive experiences."
keywords="Rico, Portfolio, Web Design, UI Design, Frontend Development, Creative Designer"
>
   <VideoHero content={VideoContent}/> 
   <ImageHero content={HeroContent}/>  
   <!--  <section >
        <ThreeCards content={CardContent}/>
    </section>
    <section >
        <VimeoFeatures content={VimeoContent}/>
    </section>
    <section >
        <FeatureProduct content={ProductContent}/>
    </section> -->
  <section >
     <Reco />
  </section>
 
 

 

</Layout>
