---
import Layout from "@layouts/MainLayout.astro";
import ImageHero from "@components/sections/ImageHero.astro";
import VideoHero from "@components/sections/VideoHero.astro";
import Reco from "@components/sections/RecoBar.astro";
//import Button from "@components/ui/Button.astro";

import Tandem1 from '../assets/images/tandem/summartandem.jpg';
import kurs1 from '../assets/images/kurs/1.jpg';
import butik1 from '@assets/images/IMG_7038.jpg';



const myVideo = "https://strapi-cdn-2.s3.eu-north-1.amazonaws.com/skysport25/video/1ASIDA.mp4";
const mobVideo = "https://strapi-cdn-2.s3.eu-north-1.amazonaws.com/skysport25/video/start/Mobil-start-720.mp4";
const tabVideo = "https://strapi-cdn-2.s3.eu-north-1.amazonaws.com/skysport25/video/start/Mobil-start-1020.mp4";

const VideoContent = {
  backgroundVideo: myVideo,
  mobileVideo: mobVideo,
  tabVideo: tabVideo,
  overlayOpacity: 0.2,
  page: "start",
  position: "justify-end",
};

 const HeroTandemContent = {
    title: "TANDEMFLYG",
    description: "",
    backgroundImage: Tandem1,
    overlayOpacity: 0.2,
    position: "justify-end",
    buttons: [
        {
        text: "BOKA",
        link: "/Tandem/tandem",
        target: "_self",
        },
    ],
};
 const HeroKursContent = {
    title: "LÄR DIG FLYGA - GÅ EN KURS",
    description: "",
    backgroundImage: kurs1,
    overlayOpacity: 0.2,
    position: "justify-end",
    buttons: [
    {
      text: "BOKA",
      link: "/Kurs/omskarmflyg",
      target: "_self",
    },
  ], 
}; 

 const HeroButikContent = {
    title: "BUTIK",
    description: "",
    backgroundImage: butik1,
    overlayOpacity: 0.2,
    position: "justify-end",
    buttons: [
    {
      text: "TILL BUTIKEN",
      link: "/butik",
      target: "_self",
    },
  ], 
}; 
const HeroResContent = {
    title: "RESOR",
    description: "Spanien | Turkiet | Morocco",
    descriptionTextStyles: 'text-4xl text-white',
    backgroundImage: kurs1,
    overlayOpacity: 0.2,
    position: "justify-end",
    buttons: [
    {
      text: "BOKA",
      link: "/resor",
      target: "_self",
    },
  ], 
}; 

---

<Layout title="Skysport Skärmflygskola i Åre" description="" keywords="" >

  <VideoHero content={VideoContent}/> 
  <section class="relative">
    <ImageHero content={HeroTandemContent}/>
  </section>
  <section class="relative">
    <ImageHero content={HeroKursContent}/> 
  </section>
  <section class="relative">
    <ImageHero content={HeroButikContent}/> 
  </section>
  <section class="relative">
    <ImageHero content={HeroResContent}/> 
  </section>
  <section >
      <Reco />
  </section>
 
</Layout>
