---
import { siteConfig } from "@config/site";
import Layout from "@layouts/MainLayout.astro";
//import ImageHero from "@components/sections/ImageHero.astro";
//import VideoHero from "@components/sections/VideoHero.astro";
//import HeroImage from '../assets/images/IMG_7422.jpg';
//import LogoImage from '../assets/images/Skysport_Logo-01-invert-468.png';
import ThreeCards from "@components/sections/ThreeCards.astro";
import CardImage1 from '../assets/images/mellanmullfjallet27.jpg';
import CardImage2 from '../assets/images/tandemhenning23.jpg';
import CardImage3 from '../assets/images/pie3.jpg';

import Booking from "@components/sections/TandemBooking.astro";
import BookingCTA from  "@sections/bookingCTA.astro";
import TandemPriceCard from "@widgets/TandemPriceCard.astro";
import ListWidget from "@widgets/listwidget.astro";
import VtabInfo from  "@sections/FeatureVtabs.astro";
import Feature50 from  "@sections/Feature-50-50.astro";

import tandemLanding from "@assets/images/tandem/sommar-1536x1536.jpg";
import sommarSkutan from "@assets/images/tandem/sommarskutan1.jpg";
import topStugan from "@assets/images/tandem/tandem_stugan.jpg";


import Divider1 from  "@elements/SeparatorLine.astro";


/* const HeroContent = {
    title: "Om Oss",
    description: " Skysport här varit igång sedan 1991 och är en av Sveriges äldsta skärmflygskolor. Vi håller till i Åre där vi bedriver skärmflygutbildning, tandemflygning, försäljning av utrustning samt arrangerar resor och kurser både i Sverige och utomlands. Vår ambition är att erbjuda högkvalitativa tjänster inom skärmflygning med fokus på säkerhet, glädje och gemenskap.",
    backgroundImage: HeroImage,
    descriptionImage: LogoImage,
    overlayOpacity: 0.2,
    fadeOut: true,
  
} */

 const CardContent = {
    title1: "Grundkurs",
    description1: "Förverkliga drömmen och lär dig skärmflyga. Under en 5 dagars intensivkurs i Åre flyger du både i liten backe och höjdflyg från Åreskutan. Kursen leder fram till licens.",
    image1: CardImage1,
    url1left: "start",
    linktext1left: "Läs Mer",
    url1right: "",
    linktext1right: "BOKA",
    title2: "Tandem",
    description2: "Tillsammans med en erfaren instruktör flyger du på ett säkert och avslappnat sätt från Åreskutan. Arrangeras dagligen under säsong. Inga förkunskaper krävs.",
    image2: CardImage2,
    url2left: "start",
    linktext2left: "Läs Mer",
    url2right: "tandem",
    linktext2right: "BOKA",
    title3: "Nyheter",
    description3: "Vinter/Vår 2026:  Vi startar säsongen 2 februari. Under februari-september arrangeras kurser kontinuerligt.",
    image3: CardImage3,
    url3left: "",
    linktext3left: "",
    url3right: "/blog",
    linktext3right: "NYHETER",

} 


const BookingCtaContent = {
  title: 'Bokning',
  text: 'Flygningen bokas senast kl 18.00 dagen före, Om ni vill boka efter kl 18 så måste ni ringa oss Tel: 070-5699089. Sedan stämmer vi av hur vädret ser ut dagen innan flygningen skall ske, eller på morgonen samma dag.',
  ctaBild: tandemLanding,
    buttons: [
    {
      text: "Boka Tandemflyg",
      link: "#bokatandem",
      target: "_self",
    },
  ],
}

const TandemPriceCardContent = {
  tandemProducts:[
    {
      title: "Tandemflyg",
      description: "Flyg från någon av våra startplatser på Åreskutan med landning nere i dalen på Draklanda.",
      price: "1.800 kr",
      foto: 0,
    },
    {
      title:  "Tandemflyg med film/foto",
      description: "Flyg från någon av våra startplatser på Åreskutan med landning nere i dalen på Draklanda.",
      price: "2.200 kr",
      foto: 1,
    }
  ],
}

const Feature50Content = {
     infoTitle: 'Upptransport',
     infoText: [
      {
        preText: 'Upptransport till startplatsen ingår ej i priset. (OBS: Detta gäller även presentkort) Upptransport med Gondolbanan i Åre kostar ca',
        spanText: '185 kr',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
            {
        preText: 'Under årstider/tider på dagen när inte liftarna är öppna sker transport med Skysports minibuss,  som kostar ',
        spanText: '80 kr',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
     ],
    //infoDescription1: 'Upptransport till startplatsen ingår ej i priset. (OBS: Detta gäller även presentkort) Upptransport med Gondolbanan i Åre kostar ca 185 kr.',
    //infoDescription2: 'Under årstider/tider på dagen när inte liftarna är öppna sker transport med Skysports minibuss,  som kostar 80 kr',
    infoImg:  sommarSkutan,
    infoIcon: '',
    buttons: [
      {
        text: "",
        link: "",
        target: "_self",
      },
    ],
}

const  TandemGearListContent = {
  listTitle: "Utrustning du håller med själv är:",
  listDescription: '',
  listIcon: '',
  listList: [
    {
      listItem: 'Stabila skor/kängor, handskar o tunn mössa att ha under hjälmen  (Skulle du inte ha skor har vi 4-5 par i olika storlekar att låna ut)',
    },
    {
      listItem: 'Vi håller med all utrustning som rör själva flygningen'
    },
    {
      listItem: 'Du kan ta med egen hjälm. Men det är inget krav. Vi har hjälmar att låna ut i samtliga storlekar.'
    },
  ],
}
const  TandemVaderListContent = {
  listTitle: "Väder",
  listDescription: 'Vi vill att du ska känna 100% säkerhet och trygghet under din flygning. Därför har vi vissa regler som gäller för väder/vind.',
  listIcon: '',
  listList: [
    {
      listItem: 'Det får inte regna',
    },
    {
      listItem: 'Det får inte blåsa för mycket. Max vind ca 8 m/s'
    },
    {
      listItem: 'Vinden får inte heller vara alltför byig (byvind på över 8 m/s accepteras ej)'
    },
    {
      listItem: 'Det får inte heller finnas dimma eller lågt liggande moln som gör att vi inte har sikt från startplatsen till landningsplatsen'
    },
    {
      listItem: 'Vi har ett 10-tal olika startplatser på Åreskutan. Vi väljer den startplats där vi bedömer att vi kan genomföra en säker start, flygning och landning. Faktorer som styr är vindstyrka, vindriktning, sikt och vilka liftar som är öppna'
    },
  ],
}

 const VtabInfoContent = {
  infoTitle: "Om tandemflyg i Åre.",
  infoIcon: 'meteocons--windsock-fill',
  infoCards:[
    {
      cardText: "I Åre flyger vi alla månader på året, förutom de mörkaste och  kallaste månaderna på året, november och december. Bäst förutsättningar har vi mellan mars-september.",
      cardImg: "summarSkutan",
      cardIcon: '',
      cardNr: 1,
    },
    {
      cardText: 'Vanligen sker flygningen på förmiddagen, mellan kl 9-12. Senare under dagen/eftermiddagen/kvällen kan också fungera, beroende på väder/årstid. Tiden för flygningen meddelas vanligen kvällen innan. Sista minuten bokning(samma dag) kan göras i mån av plats och om väder/vind är bra.',
      cardImg: 'topStugan',
      cardIcon: '',
      cardNr: 2,
    },
    {
      cardText: 'Samlingsplats för alla tandemflyg är Skysport, som ligger på Årevägen 173 i västra delen av Åre. Det är skyltat från bilvägen och det går att köra ända fram till samlingsplatsen.',
      cardImg: 'cardImage2',
      cardIcon: '',
      cardNr: 3,
    },
  ],
}
---
<Layout

title="Skysport Skärmflygskola i Åre"
description="Welcome to Rico's portfolio site! Explore my work as a web/UI designer with 8+ years of experience in creating captivating visuals and interactive experiences."
keywords="Rico, Portfolio, Web Design, UI Design, Frontend Development, Creative Designer"
>

<!--    <ImageHero content={HeroContent}/>   -->
    <section >
     <ThreeCards content={CardContent}/> 
  </section> 

<BookingCTA content={BookingCtaContent}/>
<TandemPriceCard content={TandemPriceCardContent} />
<Feature50 content={Feature50Content}/>
<ListWidget content={TandemGearListContent} />
<ListWidget content={TandemVaderListContent} />
  <section >
    <div class="site-container px-0 py-12 text-center ">
<p class="h-4 bg-gray-200 rounded-full dark:bg-neutral-700" style="width: 40%;"></p>

<ul class="mt-5 space-y-3">
  <li class="w-full h-4 bg-gray-200 rounded-full dark:bg-neutral-700"></li>
  <li class="w-full h-4 bg-gray-200 rounded-full dark:bg-neutral-700"></li>
  <li class="w-full h-4 bg-gray-200 rounded-full dark:bg-neutral-700"></li>
  <li class="w-full h-4 bg-gray-200 rounded-full dark:bg-neutral-700"></li>
</ul>
</div>
</section>

  <Divider1 />
 <VtabInfo content={VtabInfoContent} />
<Booking />
  <section >
    <div class="site-container px-0 py-6 text-center shadow-xl"></div>
    <!-- Subscribe -->
    <div class="max-w-6xl py-10 px-4 sm:px-6 lg:px-8 lg:py-16 mx-auto">
      <div class="max-w-xl text-center mx-auto">
        <div class="mb-5">
          <h2 class="text-2xl font-bold md:text-3xl md:leading-tight dark:text-white">Prenumerera till Skysports nyhetsbrev</h2>
        </div>

        <form>
          <div class="mt-5 lg:mt-8 flex flex-col items-center gap-2 sm:flex-row sm:gap-3">
            <div class="w-full">
              <label for="nyhetsBrevCTA" class="sr-only">Search</label>
              <input type="text" id="nyhetsBrevCTA" name="hero-input" class="py-2.5 sm:py-3 px-4 block w-full border-gray-200 rounded-lg sm:text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600" placeholder="Skriv din epost här" />
            </div>
            <a class="w-full sm:w-auto whitespace-nowrap py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-hidden focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none" href="#">
              Prenumerera
            </a>
          </div>
        </form>
      </div>
    </div>
    <!-- End Subscribe -->
 </div>
    </section>

</Layout>

