---
import { siteConfig } from "@config/site";
import Layout from "@layouts/MainLayout.astro";
import ImageHero from "@components/sections/ImageHero.astro";
import Feature50 from  "@sections/Feature-50-50.astro";
import FeatureSteps from  "@sections/FeatureSteps.astro";

import HeroImage from '@assets/images/kurs/IMG_6836d.jpg';
import HeroImage2 from '@assets/images/kurs/5338.jpg';
import Skarmflyg1 from '@assets/images/kurs/åre10.jpg';
import Skarmflyg2 from '@assets/images/kurs/åre9.jpg';
import Skarmflyg3 from '@assets/images/kurs/åre8.jpg';
import Skarmflyg4 from '@assets/images/kurs/åre7.jpg';



import Reco from "@components/sections/RecoBar.astro";
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";

const customLastPart = [
  { index: "last", text: "Om Skärmflyg" },
/*   {
    "data-link": "home",
    "aria-label": "Go to the home page",
    text: "Page 1",
  },
  {
    "data-link": "about",
    "aria-label": "Go to the about page",
    text: "Page 2",
  }, */
];


const HeroContent = {
    title: "Om Skärmflyg i Åre",
    backgroundImage: HeroImage,
    imgMob: HeroImage,
    titleTextStyles: 'bg-slate-200/70 p-3 rounded-lg lg:text-primary',
    overlayOpacity: 0.2,
    position: "justify-end",
  
}
const Hero2Content = {
    title: "Om Skärmflyg i Åre",
    backgroundImage: HeroImage2,
    imgMob: HeroImage2,
    titleTextStyles: 'bg-slate-200/70 p-3 rounded-lg lg:text-primary',
    overlayOpacity: 0.2,
    position: "justify-end",
  
}
const Feature50Content = {
     infoTitle: 'Äntligen kan människan flyga!',
     infoText: [
      {
        preText: 'På ett enkelt och hyfsat billigt sätt blir du pilot. Skärmflyg är den enklaste och mest lättillgängliga formen av flygsport. All utrustning går ner i en ryggsäck som väger 10-15 kg. Detta gör att du enkelt tar med utrustningen i bilen eller på en resa. Och vill du gå upp på höga berg och starta där så är inte utrustningen tyngre än att det går bra. Den lättaste utrustningen väger endast 6 kg komplett.',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
     
     /* 
      {
        preText: 'För att kunna gå säkerhetskursen måste du ha gilitig elevlicens eller annan licens av högre nivå. Kursen arrangeras under perioden juni-september.',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      }, */
     ],
    //infoDescription1: 'Upptransport till startplatsen ingår ej i priset. (OBS: Detta gäller även presentkort) Upptransport med Gondolbanan i Åre kostar ca 185 kr.',
    //infoDescription2: 'Under årstider/tider på dagen när inte liftarna är öppna sker transport med Skysports minibuss,  som kostar 80 kr',
    infoImg:  Skarmflyg1,
    infoIcon: '',
    buttons: [
     /*  {
        text: "",
        link: "",
        target: "",
      }, */
    ],
    //sectionStyles: 'bg-slate-800 dark:bg-slate-100',
}
const Feature50Content2 = {
     infoOrientationL: true,
     infoColL: 'sm:order-2',
     infoColR: 'sm:order-1',
     infoText: [
      {
        preText: 'Anledningen att skärmflyg blivit en populär sport är enkelheten, att man efter kort utbildning kan få flyga på hög höjd och lång tid i luften. Skärmarna har utvecklats mycket de sista 10 åren och flyger idag fantastiskt bra, samtidigt som de håller hög säkerhet. Även selarna har utvecklats, med lättare material och bättre sittkomfort.',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },   
     ],
    infoImg:  Skarmflyg3,
    imgPosition: 'object-bottom',
}
const Feature50Content3 = {
     infoOrientationL: true,
     infoColL: 'sm:order-2',
     infoColR: 'sm:order-1',
     infoText: [
      {
        preText: 'Åreskutan har 10 olika startplatser, beroende på vindriktning. Högsta fallhöjden är över 1000 meter. Detta ihop med enkla upptransporter gör att det flygs mycket – året runt.',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      }, 
      {
        preText: 'Skysports utbildningslokal och butik finns precis vid landningsplatsen Draklanda. I samma hus finns också bra boende – Lake Lodge Åre',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },   
     ],
    infoImg:  Skarmflyg4,
}

const FeatureStepsContent = {

    stepsTitle: 'Grundkursen är indelad i 4 steg',
   // stepsDescription: '',
    stepsText: [
        {
        preText: '',
        spanText: 'Markträning',
        spanClasses: '',
        postText: '',
        linkTarget: '',
        linkText: '',
        linkUrl: '',
        },
         {
        preText: '',
        spanText: 'Flygning i liten backe',
        spanClasses: '',
        postText: '',
        linkTarget: '',
        linkText: '',
        linkUrl: '',
        },
         {
        preText: '',
        spanText: 'Höjdflyg',
        spanClasses: '',
        postText: '',
        linkTarget: '',
        linkText: '',
        linkUrl: '',
        },
         {
        preText: '',
        spanText: 'Teori',
        spanClasses: '',
        postText: '',
        linkTarget: '',
        linkText: '',
        linkUrl: '',
        },
    ],
    stepsImg:  Skarmflyg2,
    //imgHeight:  ,
    //imgWidth: ,
    //infoIcon: ,
    stepsPostText: 'Allt detta tränas under veckokursen. När kursen avslutas har du elevlicens med bergsbehörighet. Den berättigar dig att flyga vidare på egen hand. Med mer träning och en fortsättningskurs, kan du även flyga i stigande luft, sk hang eller termik. Då kan flygtiderna ibland bli flera timmar långa. Ett vanligt flyg, utan flygning i stigande luft, är ca 10-15 minuter vid flygning från Åreskutan. Åre är Sveriges skärmflygcenter. Kabinbana och Gondollift transporterar upp till bergets topp. Under vissa årstider och på kvällen, när liften är stängd, kommer vi upp med hjälp av minibuss.',
    buttons:[ 
        {
        text: 'Boka Grundkurs',
        link: '/Kurs/Grundkurs/boka',
        },
    ],
}

---

<Layout title="Skysport Skärmflygskola i Åre" description="" keywords="" >
   <ImageHero content={HeroContent}/>  
   <!-- <ImageHero content={Hero2Content}/>  -->
   <div class=" py-8 px-4 sm:px-8  md:px-68   dark:text-slate-200">
    <Breadcrumbs linkTextFormat="capitalized" separatorAriaHidden={false} customizeLinks={customLastPart}>
        <svg
            slot="index"
            aria-label="Home Page"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"> </path><polyline
            points="9 22 9 12 15 12 15 22"></polyline>
        </svg>
        <svg
            slot="separator"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><polyline points="9 18 15 12 9 6"></polyline>
        </svg>
    </Breadcrumbs>
</div>
    <section >
        <Feature50 content={Feature50Content}/>
        <Feature50 content={Feature50Content2}/>
        <FeatureSteps content={FeatureStepsContent}/>
        <Feature50 content={Feature50Content3}/>
  </section>
 
  <section >
     <Reco />
  </section>
 
</Layout>

