---
import Layout from "@layouts/MainLayout.astro";
import VideoHero from "@components/sections/VideoHero.astro";
import Booking from "@components/elements/forms/speedkursform.astro";
import Divider1 from  "@elements/SeparatorLine.astro";
import Feature50 from  "@sections/Feature-50-50.astro";
import SpeedImage from '@assets/images/kurs/speed1.png';
import SpeedImage2 from '@assets/images/kurs/speedDraklanda.png';
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";


const customLastPart = [
  { index: "last", text: "Speedgliding" },
/*   {
    "data-link": "home",
    "aria-label": "Go to the home page",
    text: "Page 1",
  },
  {
    "data-link": "about",
    "aria-label": "Go to the about page",
    text: "Page 2",
  }, */
];


const myVideo ="https://strapi-cdn-2.s3.eu-north-1.amazonaws.com/skysport25/video/speed/spaidaa.mp4";
const Mobvideo ="https://strapi-cdn-2.s3.eu-north-1.amazonaws.com/skysport25/video/speed/skysport-speed1.mp4";
const VideoContent = {
    title: "Speedgliding",
    //description: "Speedgliding från Åreskutan.",
    backgroundVideo: myVideo,
    mobileVideo: Mobvideo,
    //descriptionImage: LogoImage,
    overlayOpacity: 0.2,
    position: "justify-end"
}

const Feature50Content = {
     infoTitle: 'Speedgliding',
      infoOrientationL: true,
     infoColL: 'sm:order-2',
     infoColR: 'sm:order-1',
     infoText: [
      {
        spanText: 'Vi erbjuder speed flyg kurser i Åre.',
        spanClasses: 'text-lg font-semibold text-slate-600',
        postText: '',
      },
      {
        preText: 'En speedskärm är en mindre paragliderskärm med en något annan design än en vanlig paraglider. Den flyger snabbare, ca 40-60 km/h och sjunker mer än en vanlig paraglider. Vi anpassar storleken och modellen efter din erfarenhet och vikt. Allt för att du ska få rätt förutsättningar under din utbildning.',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
      {
        preText: 'Kalfjället i Åre erbjuder fina förutsättningar under februari, mars och april. Vi har då snötäcke och liftar som lätt tar oss upp till startplatserna.Du bör vara medelgod skidåkare för att kunna gå kursen.',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
     ],
    infoImg:  SpeedImage,
    imgHeight: 500,
    imgWidth: 900,
    imgAlt: 'Speedgliding Åre',
}

const Feature50Content2 = {
    // infoTitle: '',
     infoText: [
      {
        preText: 'Om du vill gå utbildningen under sommaren, krävs först vanlig paragliding kurs. Sedan kan du gå vidare med speed',
        spanText: '',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },     
     {
        preText: '',
        spanText: 'Priser:',
        spanClasses: 'text-xl font-semibold text-slate-600',
        postText: '',
      },
      {
        preText: '1 dag: ',
        spanText: ' 3.500 kr',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      }, 
      {
        preText: '2 dagar: ',
        spanText: ' 5.900 kr',
        spanClasses: 'text-xl font-bold text-orange-600',
        postText: '',
      },
      {
        preText: '',
        spanText: 'I priserna ingår instruktör och utrustning.',
        spanClasses: 'text-sm  text-slate-800',
        postText: '',
      },
     ],
    infoImg:  SpeedImage2,
    imgHeight: 500,
    imgWidth: 900,
    imgAlt: 'Speedgliding Åre',   
}



---

<Layout title="Skysport Tandemflyg i Åre" description="." keywords="" >
  <VideoHero content={VideoContent}/> 
  <div class=" py-8 px-4 sm:px-8  md:px-68   dark:text-slate-200">
    <Breadcrumbs linkTextFormat="capitalized" separatorAriaHidden={false} customizeLinks={customLastPart}>
        <svg
            slot="index"
            aria-label="Home Page"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"> </path><polyline
            points="9 22 9 12 15 12 15 22"></polyline>
        </svg>
        <svg
            slot="separator"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><polyline points="9 18 15 12 9 6"></polyline>
        </svg>
    </Breadcrumbs>
    </div>
 
  <Feature50 content={Feature50Content} />
  <Feature50 content={Feature50Content2} />
  <Divider1 />
  <Booking />
</Layout>
<!--
<script is:inline> 
 
  const checkVideoHero = document.querySelector('.videohero');
  if (checkVideoHero) {
    let windowHeight = window.innerHeight;
    const navHeader = document.getElementById("navheader");
    window.addEventListener('scroll', () => {
      let currentScroll = window.pageYOffset || document.documentElement.scrollTop; 
      if (currentScroll > windowHeight) {
        // Scrollar nedåt   
        navHeader.classList.add('lg:bg-slate-600/50');
        navHeader.classList.add('lg:rounded-full');
      } else {
        // Scrollar uppåt
        navHeader.classList.remove('lg:bg-slate-600/50');
        navHeader.classList.remove('lg:rounded-full');
      }
      lastScrollTop = currentScroll <= 0 ? 0 : currentScroll; // Förhindra negativ scroll
    });
  };
</script> -->
